Package: com.ioscpy.device
Name: ioscpy dream
Version: 0.3.0~dream.5
Architecture: iphoneos-arm
Description: Mirror and control this device from the native macOS app over USB or LAN.
Maintainer: Lautaro Villarreal Culic' <lautaro@lautarovculic.com>
Author: Lautaro Villarreal Culic' <lautaro@lautarovculic.com>
Section: Tweaks
Depends: ellekit | mobilesubstrate, firmware (>= 16.0)
Homepage: https://github.com/Dream-zhc/ioscpy-dream
